<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to GitPuT</title>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
      </style>
</head>
<body>
    <h1>Welcome to GitPuT</h1>
    <% for (let i = 0; i < drinks.length; i++) { %>
      <ul>
        <h2>Name: <%= drinks[i].name %> </h2>
        <h2>Price: <%= drinks[i].price %> </h2>
        <img src=<%="drinks[i].image" %> >  
      </ul>
     <%}%>

</body>
</html>